@import url("https://fonts.googleapis.com/css2?family=Poppins:wght@300;400;500;600;700;800;900&display=swap");
@import url("https://fonts.googleapis.com/css2?family=Londrina+Outline&display=swap");
@font-face {
  font-family: Neon;
  src: url(Neoneon.otf);
}
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  scroll-behavior: smooth;
  font-family: "Poppins", sans-serif;
}

body {
  background: #080808;
  color: #ffffff84;
  user-select: none;
}

header {
  position: fixed;
  top: 0;
  left: 0;
  width: 100%;
  padding: 20px 120px;
  background: transparent;
  display: flex;
  justify-content: space-between;
  align-items: center;
  z-index: 100;
}

.logo {
  font-size: 25px;
  color: #fff;
  text-decoration: none;
  font-weight: 600;
}

nav a {
  font-size: 18px;
  color: #b8ccff;
  text-decoration: none;
  font-weight: 500;
  margin-left: 35px;
}

nav a:hover {
  color: #fff;
}

/* Floating Social Media Bar Style Starts Here */

.fl-fl {
  background: #426edc;
  padding: 4px;
  width: 13rem;
  position: fixed;
  right: -160px;
  z-index: 1000;
  font-size: 0.8rem;
  -webkit-transition: all 0.25s ease;
  -moz-transition: all 0.25s ease;
  -ms-transition: all 0.25s ease;
  -o-transition: all 0.25s ease;
  transition: all 0.25s ease;
}

.sm-fa {
  font-size: 1.2rem;
  color: #fff;
  padding: 10px 0;
  width: 40px;
  margin-left: 8px;
}

.fl-fl:hover {
  right: 0;
}

.fl-fl a {
  color: #fff !important;
  text-decoration: none;
  text-align: center;
  line-height: 43px !important;
  vertical-align: top !important;
}

.float-li {
  top: 160px;
}

.float-gh {
  top: 215px;
}

.float-tw {
  top: 270px;
}

.float-gm {
  top: 325px;
}

.float-ig {
  top: 380px;
}
/* Floating Social Media Bar Style Ends Here */
#home {
  min-height: 100vh;
  display: flex;
  justify-content: center;
  padding-top: 8rem;
  font-size: 10rem;
  color: #ffffffd5;
  /* font-family: "Londrina Outline", sans-serif; */
  font-family: Neon;
  background: linear-gradient(to right, #080808 50%, #426edc 50%);
}

#home h2 {
  font-size: 7rem;
  letter-spacing: 2rem;
  font-weight: 100;
  color: #ffffff84;
  font-family: Neon;
  position: absolute;
  z-index: 1;
}

#home p {
  font-size: 3rem;
  color: #ffffff84;
  font-weight: 100;
  padding-top: 21rem;
  position: absolute;
}

/* Mobile Menu Icon */
nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.mobile-menu-icon {
  display: none; /* Initially hide the hamburger icon */
}
nav {
  display: none; /* Hide the navigation links on smaller screens */
}

.mobile-menu-icon {
  display: block; /* Display the hamburger icon on smaller screens */
  font-size: 24px;
  color: #fff;
  cursor: pointer;
}

header {
  padding: 30px 60px 12px;
}

nav.show {
  display: flex;
  flex-direction: column;
  position: absolute;
  top: 80px;
  left: 0;
  width: 100%;
  background: transparent;
  z-index: 99;
  background: #080808e8;
}

nav.show a {
  margin: 30px 0;
  text-align: center;
}
article {
  --img-scale: 1.001;
  --title-color: black;
  --link-icon-translate: -20px;
  --link-icon-opacity: 0;
  position: relative;
  border-radius: 12px;
  box-shadow: none;
  background: #fff;
  color: #080808;
  transform-origin: center;
  transition: all 0.4s ease-in-out;
  overflow: hidden;
}

article a::after {
  position: absolute;
  inset-block: 0;
  inset-inline: 0;
  cursor: pointer;
  content: "";
}

/* basic article elements styling */
article h2 {
  margin: 0 0 18px 0;
  font-family: "Poppins", sans-serif;
  font-size: 1.5rem;
  color: var(--title-color);
  transition: color 0.3s ease-out;
}

figure {
  margin: 0;
  padding: 0;
  aspect-ratio: 16 / 9;
  overflow: hidden;
}

article img {
  max-width: 100%;
  transform-origin: center;
  transform: scale(var(--img-scale));
  transition: transform 0.4s ease-in-out;
}

.article-body {
  padding: 24px;
}

article a {
  display: inline-flex;
  align-items: center;
  text-decoration: none;
  color: #426edc;
}

article a:focus {
  outline: 1px dotted #426edc;
}

article a .icon {
  min-width: 24px;
  width: 24px;
  height: 24px;
  margin-left: 5px;
  transform: translateX(var(--link-icon-translate));
  opacity: var(--link-icon-opacity);
  transition: all 0.3s;
}

/* using the has() relational pseudo selector to update our custom properties */
article:has(:hover, :focus) {
  --img-scale: 1.2;
  --title-color: #426edc;
  --link-icon-translate: 0;
  --link-icon-opacity: 1;
  box-shadow: rgba(0, 0, 0, 0.16) 0px 10px 36px 0px,
    rgba(0, 0, 0, 0.06) 0px 0px 0px 1px;
}

.header {
  padding-top: 8rem;
  padding-bottom: 5rem;
  text-align: center;
  font-size: 4rem;
}
.header .arrow {
  color: #426edc;
}
.articles {
  display: grid;
  max-width: 1200px;
  margin-inline: auto;
  padding-inline: 24px;
  grid-template-columns: repeat(auto-fill, minmax(320px, 1fr));
  gap: 24px;
}

@media screen and (max-width: 960px) {
  article {
    container: card/inline-size;
  }
  .article-body p {
    display: none;
  }
}

@container card (min-width: 380px) {
  .article-wrapper {
    display: grid;
    grid-template-columns: 100px 1fr;
    gap: 16px;
  }
  .article-body {
    padding-left: 0;
  }
  figure {
    width: 100%;
    height: 100%;
    overflow: hidden;
  }
  figure img {
    height: 100%;
    aspect-ratio: 1;
    object-fit: cover;
  }
}

.sr-only:not(:focus):not(:active) {
  clip: rect(0 0 0 0);
  clip-path: inset(50%);
  height: 1px;
  overflow: hidden;
  position: absolute;
  white-space: nowrap;
  width: 1px;
}
.RadialProgress-1,
.RadialProgress-2,
.RadialProgress-3 {
  --hue: 220;
  --holesize: 67%;
  --track-bg: hsl(233 34% 92%);

  block-size: 25vmin;
  inline-size: 25vmin;
  min-inline-size: 100px;
  min-block-size: 100px;
  display: grid;
  place-items: center;
  position: relative;
  font-weight: 700;
  font-size: max(5vmin, 1rem);

  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(
      #426edc,
      #426edc,
      #426edc,
      var(--track-bg) var(--progress, 85%) 100%
    );

    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
  }
}

.RadialProgress-2 {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(
      #426edc,
      #426edc,
      #426edc,
      var(--track-bg) var(--progress, 70%) 100%
    );

    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
  }
}

.RadialProgress-3 {
  &::before {
    content: "";
    position: absolute;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    border-radius: 50%;
    z-index: -1;
    background: conic-gradient(
      #426edc,
      #426edc,
      #426edc,
      var(--track-bg) var(--progress, 90%) 100%
    );

    mask-image: radial-gradient(
      transparent var(--holesize),
      black calc(var(--holesize) + 0.5px)
    );
  }
}

#skills-sec {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
}
.skill {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.skill p {
  padding-top: 1rem;
  font-size: 1.2rem;
}
.blockquote {
  padding: 60px 80px 0px 80px;
  position: relative;
}
.blockquote p {
  font-family: "Utopia-italic";
  font-size: 35px;
  font-weight: 700px;
  text-align: center;
}

.blockquote:before {
  position: absolute;
  font-family: "FontAwesome";
  top: 0;
  content: "\f10d";
  font-size: 200px;
  color: rgba(0, 0, 0, 0.1);
}

.blockquote::after {
  content: "";
  top: 20px;
  left: 50%;
  margin-left: -100px;
  position: absolute;
  border-bottom: 3px solid #bf0024;
  height: 3px;
  width: 200px;
}
#contact-sec {
  display: flex;
  justify-content: center;
  align-items: center;
}
#contact-sec a {
  text-decoration: none;
}
.contact-btn {
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  border: #426edc 2px solid;
  color: #ffffff84;
  width: 12rem;
  height: 3rem;
  border-radius: 3px;
  cursor: pointer;
  transition: 0.3s ease-in-out;
}
.contact-btn:hover {
  background: #426edc;
  font-size: 1.1rem;
}
.contact-btn i {
  color: #ffffff84;
  font-size: 1rem;
}
.footer-hr {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.footer-hr hr {
  margin-top: 20rem;
  width: 100%;
  border: none;
  border-radius: 50px;
  height: 0.1rem;
  background-color: #ffffff84;
}

.footer {
  width: 100%;
  display: flex;
  justify-content: center;
  justify-items: center;
}

.copyright {
  width: 80%;
}

.copyright-text {
  padding: 10px 0;
  text-decoration: none;
}

.braindev {
  color: #426edc;
}

@media screen and (max-width: 600px) {
  #home img {
    padding-top: 220px;
    width: 60%;
    height: 60%;
  }
  #home h2 {
    font-size: 4rem;
    text-align: center;
    padding-top: 40px;
  }
  #home p {
    padding-top: 540px;
    font-size: 2.5rem;
  }
  .header {
    font-size: 2.3rem;
  }
  .RadialProgress-1,
  .RadialProgress-2,
  .RadialProgress-3 {
    block-size: 10vmin;
    inline-size: 10vmin;
    font-size: max(3vmin, 1rem);
  }
  .skill p {
    font-size: 0.8rem;
  }
  .article-body h2 {
    font-size: 1.3rem;
  }
  .article-body a {
    font-size: 0.8rem;
  }
  #portfolio p {
    font-size: 1.5rem;
    text-align: justify;
  }
  .copyright-text {
    font-size: 0.8rem;
  }
}
